<?xml version='1.0' encoding='utf-8'?>
<widget id="com.worldline.techforum" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TechForum 2014</name>
    <description>
        Application TechForum 2014 Atos WorldLine.
    </description>
    <author email="maxime.gens@worldline.com" href="http://worldline.com/en/1/Home.html">
        Maxime Gens - SDCO - Software Engineering - Web and Mobile Frameworks
    </author>
    <content src="app/index.html" />
    <access origin="*" />

    <preference name="SplashScreen" value="splashscreen" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
