<!-- Tabs  -->
<ion-tabs class="tabs-icon-top tabs-default">

    <!-- Home Tab -->
    <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <!-- Conferences Tab -->
    <!-- ************* TO DO ************ -->

    <!-- Agenda Tab -->
    <!-- ************* TO DO ************ -->

    <!-- Access Tab -->
    <ion-tab title="Access Map" icon="icon ion-map" href="#/tab/access">
        <ion-nav-view name="access-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>