<ion-view title="Agenda">
    <ion-content class="has-header has-tabs" padding="true">


        <p  class="italic" ng-show="!myAgenda.length">You don't have conference in your agenda</p>
        <p class="center"><strong>Day 1</strong></p>

        <ion-list show-delete="true">

            <div class="schedule-tab">
                <p>Start 13:00 - 13:30</p>
                <div class="event-conference">
                    <span>Welcome coffee</span>
                </div>
            </div>
            <div class="schedule-tab">
            <p>Start 13:00 - 14:00</p>
                <div class="event-conference">
                    <span>Key notes</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Start 14:00 - 15:15</p>
                <div class="event-conference">
                    <span>Teasing session : 2 minutes to convince</span>
                </div>
            </div>

            <div class="schedule-tab" ng-repeat="itemSchedule in mySchedule1">
                <p ng-model="schedule.when.start">Start {{itemSchedule}}</p>
                <ion-item ng-repeat="conferenceAgenda in myAgenda | scheduleByConference:itemSchedule:day.day1" ng-click="viewConference(conferenceAgenda._id)" >
                    <div class ="row">
                        <p class="col col-20 room-conference">R {{conferenceAgenda.where}}</p>
                        <p class="col col-80"><strong>{{conferenceAgenda.title}}</strong></p>
                    </div>
                    <div class="row">
                        <ion-delete-button class="delete-conference-in-agenda" ng-click="onItemDelete(conferenceAgenda._id)">Delete</ion-delete-button>
                    </div>
                </ion-item>
                <p ng-hide ="(myAgenda  | scheduleByConference:itemSchedule:day.day1).length">You don't have a conference for this time</p>
            </diV>

            <div class="schedule-tab">
                <p>Start 18:15 - 19:00</p>
                <div class="event-conference">
                    <span>Special event : Scala/Akka</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Evening</p>
                <div class="event-conference">
                    <span>Barbecue party + Acanthurus Concert</span>
                </div>
            </div>
            <br/>
            <hr/>
            <p class="center"><strong>Day 2</strong></p>

            <div class="schedule-tab">
                <p>Start 08:30 - 09:00</p>
                <div class="event-conference">
                    <span>Welcome coffee</span>
                </div>
            </div>

            <div class="schedule-tab" ng-repeat="itemSchedule in mySchedule2">
                <p ng-model="schedule.when.start">Start {{itemSchedule}}</p>
                <ion-item ng-repeat="conferenceAgenda in myAgenda | scheduleByConference:itemSchedule:day.day2" ng-click="viewConference(conferenceAgenda._id)">
                    <div class ="row">
                        <p class="col col-20 room-conference">R {{conferenceAgenda.where}}</p>
                        <p class="col col-80"><strong>{{conferenceAgenda.title}}</strong></p>
                    </div>
                    <ion-delete-button class="delete-conference-in-agenda" ng-click="onItemDelete(conferenceAgenda._id)">Delete</ion-delete-button>
                </ion-item>
                <p ng-hide ="(myAgenda  | scheduleByConference:itemSchedule:day.day1).length">You don't have a conference for this time</p>
            </div>

            <div class="schedule-tab">
                <p>Start 15:45 - 16:15</p>
                <div class="event-conference">
                    <span>End of conference</span>
                </div>
            </div>

        </ion-list>

    </ion-content>
</ion-view>