<ion-view title="TechForum 2014">

    <ion-content class="has-header has-tabs" padding="true">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem, beatae culpa dolores ducimus, ea
            expedita iure nisi nobis pariatur quae quod sit, unde vel voluptatum! Mollitia non quae ullam!</p>

        <p>Adipisci alias aliquam aliquid asperiores aspernatur aut deserunt doloremque error exercitationem, explicabo
            id iste laborum libero minus nam non odio omnis optio quae quasi quia reiciendis reprehenderit, velit.
            Natus, quas.</p>

        <p>Ab assumenda beatae facere inventore iure molestias voluptas. Accusantium corporis impedit iste laboriosam
            molestiae quaerat quo sed similique velit. Consectetur cumque dolore dolorem ex impedit ipsam nobis quas,
            quis sapiente.</p>

        <p>Ab accusamus adipisci aliquid asperiores delectus deleniti dolor dolores ea eius enim illum labore molestias
            non, nulla omnis optio pariatur perspiciatis possimus quae quis quod reiciendis rem repellat sit
            voluptatibus!</p>

        <p>Accusamus ad alias aliquam architecto consequuntur distinctio dolores doloribus dolorum eaque error expedita
            harum in molestias natus, nemo nobis, pariatur quasi quisquam quo quod recusandae reiciendis similique
            tempora totam vel.</p>

        <p>Amet, architecto at atque commodi deserunt distinctio ducimus eius fuga fugiat laborum, molestias nam natus
            nisi nobis quas quasi quis quisquam rem sed sequi totam ullam, veritatis voluptate. Aspernatur, quos.</p>

    </ion-content>

</ion-view>
