<ion-view title="TechForum 2014">

    <ion-content class="has-header has-tabs" padding="true">

        <figure class="logo">
            <img src="img/techforum-2014.png">
            <figcaption>Mobile app</figcaption>
        </figure>

        <section>
            <p ng-show="day != 0" class="actual-day">Conference day : {{day}}</p>
            <p ng-show="day == 0" class="actual-day">
                Starting TechForum date June 3 and 4, 2014 in Seclin, France.
                <br/>in {{time.day}} days
            </p>
            <br/>
            <p class="italic center">Next conferences</p>
        </section>

        <ion-list>
                <div style="margin-top: 0px" class="item item-divider" ng-model="schedule.when.start">Start {{nextSchedule}}</div>
                <ion-item class="item-home" ng-repeat="conference in conferences  | scheduleByConference:nextSchedule | filter:day | orderBy:'where'" ng-click="viewConference(conference._id)">
                    <div class ="row">
                        <p class="col col-20 room-conference">R {{conference.where}}</p>
                        <p class="col col-80"><strong>{{conference.title}}</strong></p>
                    </div>
                </ion-item>
                <p ng-hide="(conferences  | scheduleByConference:nextSchedule | filter:search).length">No conference at this time</p>
        </ion-list>

    </ion-content>

</ion-view>
