<ion-view title="Agenda" ng-init="getAgendaAndConference()">
    <ion-content class="has-header has-tabs" padding="true">

        <p  class="italic center" ng-show="!myAgenda.length">You don't have conference in your agenda</p>

        <!-- AGENDA FOR THE DAY 1 -->
        <p class="center"><strong>Day 1</strong></p>

        <ion-list show-delete="true">

            <div class="schedule-tab">
                <p>Start 08:00 - 09:00</p>
                <div class="event-conference">
                    <span>Welcome coffee + Intro</span>
                </div>
            </div>
            <div class="schedule-tab">
            <p>Start 09:00 - 09:45</p>
                <div class="event-conference">
                    <span>Teaser 1</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Start 09:45 - 11:00</p>
                <div class="event-conference">
                    <span>Key notes</span>
                </div>
            </div>

            <!-- CONFERENCES ADDED FOR DAY 1 -->
            <div class="schedule-tab" ng-repeat="itemSchedule in mySchedule1">
                <p ng-model="schedule.when.start">Start {{itemSchedule}}</p>
                <ion-item ng-repeat="conferenceAgenda in myAgenda | scheduleByConference:itemSchedule:day.day1" ng-click="viewConference(conferenceAgenda._id)" >
                    <div class ="row">
                        <p class="col col-20 room-conference">R {{conferenceAgenda.where}}</p>
                        <p class="col col-80"><strong>{{conferenceAgenda.title}}</strong></p>
                    </div>
                    <div class="row">
                        <span class="delete-conference-in-agenda" ng-click="onItemDelete(conferenceAgenda._id);$event.stopPropagation()">Delete</span>
                    </div>
                </ion-item>
                <div class="row" ng-hide ="(myAgenda  | scheduleByConference:itemSchedule:day.day1).length">
                    <p class="col">You don't have a conference</p>
                    <button class="col" ng-click="viewConferenceWithTime(day.day1,itemSchedule);$event.stopPropagation()">Add conference</button>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Start 18:30 - 19:30</p>
                <div class="event-conference">
                    <span>Apero</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Start 19:30 - 21:00</p>
                <div class="event-conference">
                    <span>Barbecue party</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Start 21:00 - 22:00</p>
                <div class="event-conference">
                    <span>Concert</span>
                </div>
            </div>

            <br/>
            <hr/>

            <!-- AGENDA FOR THE DAY 2 -->
            <p class="center"><strong>Day 2</strong></p>

            <div class="schedule-tab">
                <p>Start 08:00 - 08:30</p>
                <div class="event-conference">
                    <span>Welcome coffee</span>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Start 08:30 - 09:45</p>
                <div class="event-conference">
                    <span>Key Notes</span>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Start 09:45 - 10:30</p>
                <div class="event-conference">
                    <span>Key Notes</span>
                </div>
            </div>

            <!-- CONFERENCES ADDED FOR DAY 2 -->
            <div class="schedule-tab" ng-repeat="itemSchedule in mySchedule2">
                <p ng-model="schedule.when.start">Start {{itemSchedule}}</p>
                <ion-item ng-repeat="conferenceAgenda in myAgenda | scheduleByConference:itemSchedule:day.day2" ng-click="viewConference(conferenceAgenda._id)">
                    <div class ="row">
                        <p class="col col-20 room-conference">R {{conferenceAgenda.where}}</p>
                        <p class="col col-80"><strong>{{conferenceAgenda.title}}</strong></p>
                    </div>
                    <ion-delete-button class="delete-conference-in-agenda" ng-click="onItemDelete(conferenceAgenda._id);$event.stopPropagation()">Delete</ion-delete-button>
                </ion-item>
                <div class="row" ng-hide ="(myAgenda  | scheduleByConference:itemSchedule:day.day2).length">
                    <p class="col">You don't have a conference</p>
                    <button class="col" ng-click="viewConferenceWithTime(day.day2,itemSchedule);">Add conference</button>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Start 16:15 - 16:30</p>
                <div class="event-conference">
                    <span>Conclusion + End of conference</span>
                </div>
            </div>

        </ion-list>

    </ion-content>
</ion-view>